<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <appSettings>
    <add key="pythonlauncher" value="D:\Python27\python.exe"/>

    <add key="Reactionner_parameters" value="-c .\etc\reactionnerd-windows.ini"/>
    <add key="Reactionner_service" value=".\shinken-reactionner.py"/>
    <add key="Reactionner_SrvOutput" value="true"/>
    <add key="Reactionner_SrvOutputfolder" value=".\logs"/>

    <add key="Shinken_Reactionner" value=".\logconfig\shinken-reactionnerlogconf.xml"/>

  </appSettings>
</configuration>